<div class=" text-center bg">
        
            <h1 class=" crd ">
                
                
                COME JOIN US !! </h1>
        
    </div>

<!-- Page Content-->
<div class="container ">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-4 ">
        <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/logo.png" alt="..." /></div>
        <div class="col-lg-6">
            <h1  style="font-size: xx-large ">Proxym's sport activities</h1>
            <br>
            <p>Proxym is not only an office but a family. Thus we offer the members of this family a chance to get
                closer and participate in sport activities together.</p>
            <p>if you want to have fun and exercersie at the same time, this is the best oportunity for you.</p>
        </div>
    </div></div>